<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289922726253-hfimd00idsfshie5mgpun0c8a55beh6b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289922726253-hfimd00idsfshie5mgpun0c8a55beh6b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>289922726253-56piiulfuj7udb3uiqahma2h33155t16.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArm2gIm2w4oOASNmjUNvIR1R_GeroHBso</string>
	<key>GCM_SENDER_ID</key>
	<string>289922726253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.farmlingua</string>
	<key>PROJECT_ID</key>
	<string>farmlingua-1e99e</string>
	<key>STORAGE_BUCKET</key>
	<string>farmlingua-1e99e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289922726253:ios:68ecb1711276fa5a480264</string>
</dict>
</plist>